.app-contanier {
  height: 100vh;
  width: 100%;
  .site-content {
    margin-top: 80px;
    padding: 10px;
  }
}
.navigation-ourter-wrap {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 11;
  width: 100%;
  height: var(--nav-height);
  background-color: #00000014;
  backdrop-filter: blur(1px);
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
}

.inner-wrap {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  color: var(--lightest-slate);
  font-family: var(--font-Regular);
  counter-reset: item 0;
  z-index: 12;
  padding: 0px 50px;
  .logo {
    width: auto;
    height: 120px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.logo-outer {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 60px;
  height: 55px;
  border: 3px solid var(--primary-color);
  border-radius: 15px 0 15px 15px;
}

.logo-name {
  color: var(--primary-color);
  letter-spacing: -5px;
  font-size: 33px;
  padding-right: 6px;
  font-weight: 900;
  font-family: var(--font-Bold);
}

.nav-item {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);
  cursor: pointer;
}

.nav-item:hover,
.nav-item:focus {
  /* transform: translateY(-3px); */
  color: var(--primary-color);
}

.nav-item-wrap {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.nav-item-wrap ul {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.nav-item-wrap ul li {
  margin: 0px 5px;
  position: relative;
  counter-increment: item 1;
  font-size: var(--fz-xs);
}

.nav-item-wrap ul li .nav-item {
  padding: 10px;
  font-size: 19px;
  font-family: "SemiBold";
  color: #494852;
}

/* 
.nav-item-wrap ul li .nav-item::before {
    content: "0"counter(item) ".";
    margin-right: 5px;
    color: var(--primary-color);
    font-size: var(--fz-xxs);
    text-align: right;
} */

.nav-item-wrap .resume-button {
  color: var(--primary-color);
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 10px 0 10px 10px;
  padding: 0.75rem 1rem;
  font-family: var(--font-Regular);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  margin-left: 15px;
  font-size: var(--fz-xs);
}

.nav-item-wrap .resume-button:hover,
.nav-item-wrap .resume-button:focus,
.nav-item-wrap .resume-button:active {
  background-color: var(--primary-tint);
}

.nav-item-wrap .resume-button::after {
  display: none !important;
}

.nav-item {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);
  cursor: pointer;
}

.nav-item:hover,
.nav-item:focus {
  color: var(--primary-color);
}

button {
  cursor: pointer;
  border: 0px;
  border-radius: 0px;
}

.mobile-nav-wrap {
  display: none;
}

.mobile-nav-active-btn {
  outline: none;
  display: none;
}

.mobile-nav-active-btn .ham-box {
  display: inline-block;
  position: relative;
  width: var(--hamburger-width);
  height: 24px;
}

.mobile-nav-active-btn .ham-box-inner {
  position: absolute;
  top: 50%;
  right: 0px;
  width: var(--hamburger-width);
  height: 3px;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
  transform: rotate(0deg);
}

.mobile-nav-active-btn .ham-box-inner::before,
.mobile-nav-active-btn .ham-box-inner::after {
  content: "";
  display: block;
  position: absolute;
  left: auto;
  right: 0px;
  width: var(--hamburger-width);
  height: 3px;
  border-radius: 4px;
  background-color: var(--primary-color);
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
}

.mobile-nav-active-btn .ham-box-inner::before {
  width: 120%;
  top: -10px;
  opacity: 1;
  transition: var(--ham-before);
}

.mobile-nav-active-btn .ham-box-inner::after {
  width: 80%;
  bottom: -10px;
  transform: rotate(0deg);
  transition: var(--ham-after);
}

.nav-item-wrap-mobile {
  display: none;
}

.nav-item-wrap-mobile nav {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  color: var(--lightest-slate);
  font-family: var(--font-Regular);
  text-align: center;
}

.nav-item-wrap-mobile ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  width: 100%;
}

.nav-item-wrap-mobile ul li {
  position: relative;
  margin: 0px auto 20px;
  counter-increment: item 1;
  font-size: clamp(var(--fz-sm), 4vw, var(--fz-lg));
}

/* .nav-item-wrap-mobile ul li::before {
    content: "0"counter(item) ".";
    display: block;
    margin-bottom: 5px;
    color: var(--primary-color);
    font-size: var(--fz-sm);
} */

.nav-item-wrap-mobile ul .nav-item {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);
  cursor: pointer;
  width: 100%;
  padding: 3px 20px 20px;
}

.nav-item-wrap-mobile ul .nav-item:hover,
.nav-item-wrap-mobile ul .nav-item:active,
.nav-item-wrap-mobile ul .nav-item:focus {
  color: var(--primary-color);
  outline: 0px;
}

.nav-item-wrap-mobile .resume-link {
  color: var(--primary-color);
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  font-size: var(--fz-sm);
  font-family: var(--font-Regular);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  padding: 18px 50px;
  margin: 10% auto 0px;
  width: max-content;
}

.nav-item-wrap-mobile .resume-link:hover,
.nav-item-wrap-mobile .resume-link:focus,
.nav-item-wrap-mobile .resume-link:active {
  background-color: var(--primary-tint);
}

.nav-item-wrap-mobile .resume-link::after {
  display: none !important;
}

button {
  cursor: pointer;
  border: 0px;
  border-radius: 0px;
}

.mobile-nav-btn {
  outline: none;
  display: none;
}

.mobile-nav-btn .ham-box {
  display: inline-block;
  position: relative;
  width: var(--hamburger-width);
  height: 24px;
}

.mobile-nav-btn .ham-box-inner {
  position: absolute;
  top: 50%;
  right: 0px;
  width: var(--hamburger-width);
  height: 3px;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  transition: transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transform: rotate(225deg);
}

.mobile-nav-btn .ham-box-inner::before,
.mobile-nav-btn .ham-box-inner::after {
  content: "";
  display: block;
  position: absolute;
  left: auto;
  right: 0px;
  width: var(--hamburger-width);
  height: 3px;
  border-radius: 4px;
  background-color: var(--primary-color);
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
}

.mobile-nav-btn .ham-box-inner::before {
  width: 100%;
  top: 0px;
  opacity: 0;
  transition: var(--ham-before-active);
}

.mobile-nav-btn .ham-box-inner::after {
  width: 100%;
  bottom: 0px;
  transform: rotate(-90deg);
  transition: var(--ham-after-active);
}

.nav-item-wrap-mobile-active {
  display: none;
}

.nav-item-wrap-mobile-active nav {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  color: var(--lightest-slate);
  font-family: var(--font-Regular);
  text-align: center;
}

.nav-item-wrap-mobile-active ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  width: 100%;
}

.nav-item-wrap-mobile-active ul li {
  position: relative;
  margin: 0px auto 20px;
  counter-increment: item 1;
  font-size: clamp(var(--fz-sm), 4vw, var(--fz-lg));
}

/* .nav-item-wrap-mobile-active ul li::before {
    content: "0"counter(item) ".";
    display: block;
    margin-bottom: 5px;
    color: var(--primary-color);
    font-size: var(--fz-sm);
} */

.nav-item-wrap-mobile-active ul .nav-item {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);
  cursor: pointer;
  width: 100%;
  padding: 20px 0;
  font-size: 19px;
  font-family: "SemiBold";
  letter-spacing: 1px;
}

.nav-item-wrap-mobile-active ul .nav-item:hover,
.nav-item-wrap-mobile-active ul .nav-item:active,
.nav-item-wrap-mobile-active ul .nav-item:focus {
  color: var(--primary-color);
  outline: 0px;
}

.nav-item-wrap-mobile-active .resume-link {
  color: var(--primary-color);
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  font-size: var(--fz-sm);
  font-family: var(--font-Regular);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  padding: 18px 50px;
  margin: 10% auto 0px;
  width: max-content;
}

.nav-item-wrap-mobile-active .resume-link:hover,
.nav-item-wrap-mobile-active .resume-link:focus,
.nav-item-wrap-mobile-active .resume-link:active {
  background-color: var(--primary-tint);
}

.nav-item-wrap-mobile-active .resume-link::after {
  display: none !important;
}

body.blur #content > * {
  filter: blur(5px) brightness(0.7);
  pointer-events: none;
  user-select: none;
}

@media (orientation: landscape) {
  body.blur #content > * {
    filter: unset;
    pointer-events: unset;
    user-select: unset;
  }
}

@media (max-width: 768px) {
  .mobile-nav-active-btn {
    outline: none;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    z-index: 10;
    margin-right: -15px;
    margin-top: -12px;
    padding: 15px;
    border: 0px;
    background-color: transparent;
    color: inherit;
    text-transform: none;
    transition-timing-function: linear;
    transition-duration: 0.15s;
    transition-property: opacity, filter;
  }
  .mobile-nav-btn {
    outline: none;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    z-index: 10;
    margin-right: -15px;
    margin-top: -12px;
    padding: 15px;
    border: 0px;
    background-color: transparent;
    color: inherit;
    text-transform: none;
    transition-timing-function: linear;
    transition-duration: 0.15s;
    transition-property: opacity, filter;
  }
  .mobile-nav-wrap {
    display: block;
  }
  .nav-item-wrap {
    display: none;
  }
  .nav-item-wrap-mobile {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    padding: 50px 10px;
    width: min(75vw, 400px);
    height: 100vh;
    outline: 0px;
    background-color: var(--light-navy);
    box-shadow: -10px 0px 30px -15px var(--navy-shadow);
    z-index: 9;
    transform: translateX(100vw);
    visibility: hidden;
    transition: var(--transition);
  }
  .nav-item-wrap-mobile-active {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: min(75vw, 400px);
    height: 100vh;
    outline: 0px;
    background-color: #424244;
    box-shadow: -10px 0px 30px -15px var(--navy-shadow);
    z-index: 9;
    transform: translateX(0vw);
    visibility: visible;
    transition: var(--transition);
  }
}

@media (max-width: 600px) {
  .inner-wrap {
    padding: 0 20px;
  }
  .nav-item-wrap-mobile ul li {
    margin: 0px auto 10px;
  }
  .nav-item-wrap-mobile-active ul li {
    margin: 0px auto 10px;
  }
}

@media (max-width: 480px) {
  .inner-wrap {
    padding: 0 20px;
    padding-left: 0;
  }
  .nav-item-wrap-mobile ul li {
    margin: 0px auto 10px;
  }
  .nav-item-wrap-mobile-active ul li {
    margin: 0px auto 10px;
  }
}

.logo > div {
  width: 68px;
  padding-top: 37px;
}
