.blog-details-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dee1ecce;
  height: 0;
  width: 0;
  overflow: hidden;
  transition: var(--transition);

  &.active {
    transition: var(--transition);
    height: 100vh;
    width: 100vw;
  }

  .blog-details {
    background: white;
    position: relative;
    padding: 20px;
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .close-icon {
      background: black;
      color: white;
      width: 30px;
      height: 30px;
      position: absolute;
      right: 10px;
      top: 10px;
      border-radius: 15px;
    }
  }
}
