.contactus-container {
  .image-container {
    height: 90vh;
    width: 100%;
    background-image: url("../../public/contactus/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: var(--primary-tint);
    }
    .tag {
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
      font-size: var(--fz-heading);
    }
  }
  .hero-content {
    z-index: 2;
    letter-spacing: var(--letter-spacong-md);
    .heading {
      font-size: var(--fz-heading);
      letter-spacing: var(xl);
      font-family: var(--font-Bold);
      color: var(--white);
    }
    .subheading {
      color: var(--white);
      font-size: var(--fz-xl);
      font-family: var(--font-SemiBold);
    }
  }
  .content-wrap {
    flex-direction: column;
    padding: 20px;

    .sub-heading {
    }
    .heading {
    }
    .content {
      font-size: var(--fz-lg);
      line-height: 30px;
      padding: 10px;

      span {
        color: var(--primary-color);
        text-align: left;
      }
    }
    .privacy-content-container {
      font-size: var(--fz-lg);
      line-height: 30px;
      padding: 10px;
      display: flex;
      align-items: left;
      justify-content: flex-start;
      flex-direction: column;
      text-align: left;
      width: 100%;
      span {
        color: var(--primary-color);
      }
    }
  }
  @media (max-width: 720px) {
    .content-wrap {
      text-align: left;
      padding: 10px;
    }
  }
}
