.ourApproach-container {
  background-color: white;
  .image-container {
    height: 90vh;
    width: 100%;
    background-image: url("../../public/ourApproach/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: var(--primary-tint);
      //   z-index: -1;
    }
    .tag {
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
      font-size: var(--fz-heading);
    }
  }
  .content-container {
    width: 100%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
    .content-sub-container {
      width: 100%;
      height: auto;
      gap: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .content-image-container {
        width: 40%;
        height: auto;
        img {
          height: 100%;
          width: 100%;
          border-radius: 4px;
          overflow: hidden;
        }
      }
      .content-wrap {
        width: 55%;
        height: 100%;
        padding: 2.5%;
        display: flex;
        align-items: center;
        flex-direction: column;
        // box-shadow: 0 7px 29px 0 hsl(240deg 5% 41% / 20%);
        gap: 20px;
        border-radius: 10px;
        .step-tag {
          font-size: var(--fz-lg);
          color: rgba(175, 169, 169, 0.829);
          width: 100%;
          letter-spacing: 0.8px;
        }
        .content-tag {
          width: 100%;
          font-size: var(--fz-xl);
          span {
            color: var(--primary-color);
            font-size: var(--fz-xxl);
          }
        }
        .content-description {
          font-size: var(--fz-l);
          color: rgb(32, 31, 31);
          letter-spacing: 0.8px;
          text-align: justify;
        }
      }
    }
  }
  .content-sub-tag {
    font-size: var(--fz-small);
    width: 100%;
    padding: 5%;
    height: auto;
  }
  @media (max-width: 720px) {
    .content-container {
      padding: 10px;
      .content-sub-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: auto;
        flex-flow: column-reverse;
        gap: 12px;
        .content-wrap {
          width: 100%;
          .content-description {
            font-size: var(--fz-sm);
            letter-spacing: var(--letter-spacong-sm);
          }
        }
        .content-image-container {
          width: 100%;
          height: auto;
          img {
            border-radius: 4px;
            overflow: hidden;
          }
        }
        &:nth-child(even) {
          flex-flow: column;
        }
      }
    }
  }
}
