.footer-container {
  .footer-main-container {
    height: auto;
    width: 100%;
    // background: linear-gradient(180deg, #b0b6ff00, var(--primary-color) 140.2%);
    background: var(--dark-navy);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5%;
    color: white;
    .footer-first-container {
      width: auto;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 15px;

      .footer-row {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title-container {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: center;
          flex-direction: column;
          overflow: hidden;
          max-width: 300px;

          .company-title {
            font-size: 25px;
            font-weight: 600;
            height: 100%;
            width: 100%;
            background-color: white;
            img {
              height: 100%;
              width: 100%;
            }
          }
          .company-sub-title {
            font-size: 22px;
            color: white;
            text-align: center;
          }
        }

        .company-description {
          font-size: 15px;
          color: white;
          text-align: center;
          margin: 20px 0;
        }
        .social-icon-container {
          height: 100%;
          width: 100%;
          display: flex;
          align-items: start;
          justify-content: space-around;
          align-self: flex-end;
          .social-icon {
            padding: 10px;
            height: 40px;
            width: 40px;
            margin: 1px;
            border: 1px solid white;
            background-color: white;
            color: var(--primary-color);
            border-radius: 50%;
            cursor: pointer;
            &:hover {
              scale: 1.1;
              color: white;
              background-color: transparent;
              transition: all ease-in-out 0.2s;
            }

            svg {
              height: 100%;
              width: 100%;
            }
          }
        }
      }
    }
    .footer-second-container {
      width: 20%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      margin-bottom: 10px;
      .heading {
        color: #dee1ec;
        text-align: left;
        font-size: var(--fz-lg);
        text-transform: uppercase;
      }
      .footer-links-wrap {
        .link {
          color: white;
          font-size: var(--fz-sm);
          margin-bottom: 5px;
          cursor: pointer;

          &::after {
            content: "";
            height: 1px;
            width: 100%;
            background: #f2811e;
          }
        }
      }
    }
    .footer-third-container {
      width: auto;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      .heading {
        color: #dee1ec;
        text-align: left;
        font-size: var(--fz-lg);
        text-transform: uppercase;
      }
      .footer-links-wrap {
        .link {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          color: white;
          gap: 10px;
          font-size: var(--fz-sm);
          margin-bottom: 25px;
          .icon-wrap {
            width: 30px;
            height: 30px;
            padding: 6px;
            background: white;
            svg {
              color: white;
            }
          }
        }
      }
    }
  }

  .footer-content-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .footer-content-tag {
      font-size: 25px;
      width: 95%;
      color: white;
      font-weight: 600;
    }
    .footer-content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;

      .footer-content-row {
        width: 100%;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: start;
        color: white;
      }
    }
  }

  .contact-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .contact-sub-container2 {
    width: 80%;
  }
  .contact-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px 0;
    .table-contact-data {
      width: 100%;
      display: flex;
      align-items: center;
      overflow: hidden;
      padding: 3% 3%;
      font-size: 18px;
      color: white;

      a {
        width: 100%;
        display: flex;
        align-items: center;
        overflow: hidden;
        font-size: 18px;
        color: white;
        text-decoration: none;
      }
    }
  }

  .contact-sub-container1 {
    border-right: 2px solid white;
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .social-media-icon {
      height: 30px;
      width: 30px;
      padding: 10px;
    }
  }
  .social-media-icon svg {
    height: 100%;
    width: 100%;
  }

  .footer-about-tag {
    font-size: 25px;
    width: 50%;
    color: white;
    font-weight: 600;
  }

  @media only screen and (max-width: 480px) {
    .footer-main-container {
      height: unset !important;
      flex-direction: column;
      padding: 2.5%;
    }
    .footer-first-container {
      width: 100% !important;
      padding: 2.5%;
    }
    .footer-second-container {
      border-top: 1px dashed rgb(151, 145, 145);
      width: 100% !important;
      border-left: none !important;
      border-right: none !important;
      padding: 2.5%;
      margin-top: 20px;
    }
    .footer-third-container {
      width: 100% !important;
      border-top: 1px dashed rgb(151, 145, 145);
      padding: 2.5%;
    }
    .social-icon-container {
      align-self: unset !important;
    }
    .footer-main-container .footer-second-container .footer-content {
      width: 95%;
      padding: 2.5%;
    }
    .footer-about-tag {
      text-align: center;
    }
    .footer-content-container .footer-content {
      width: 95% !important;
      padding: 2.5%;
    }
    .footer-content-container .footer-content-tag {
      text-align: center;
    }
    .contact-sub-container1 {
      height: unset;
    }
  }
}
