.about-container {
  color: var(--primary-color);
  .image-container {
    height: 85vh;
    width: 100%;
    background-image: url("../../public/aboutus/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: var(--primary-tint);
    }
    .tag {
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
      font-size: var(--fz-heading);
    }
  }
  .heading {
    font-size: var(--fz-heading);
    letter-spacing: var(xl);
    font-family: var(--font-Bold);
    width: 100%;
    padding: 0 5%;
  }

  .content-sub-tag {
    font-size: var(--fz-sm);
    width: 100%;
    padding: 2% 5%;
    height: auto;
    text-align: center;
    color: black;
  }
  .cards-wraper {
    width: 100%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    .cards {
      width: calc(100vw / 3);
      height: 400px;
      border-radius: 10px;
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 13px;
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(26, 25, 25, 0.589);
        backdrop-filter: blur(5px);
      }
      .card-logo-wrap {
        height: 50px;
        width: 50px;
        z-index: 11;
        img {
          height: 100%;
          width: 100%;
        }
      }
      .card-content-tag {
        color: white;
        display: flex;
        z-index: 2;
        font-size: var(--fz-heading);
      }
      .card-content-sub-tag {
        font-size: var(--fz-sm);
        width: 100%;
        padding: 2% 5%;
        list-style: none;
        height: auto;
        text-align: center;
        z-index: 2;
        color: white;
        li {
          font-size: var(--fz-sm);
        }
      }
    }
  }
  .cards:nth-child(1) {
    background-image: url("../../public/aboutus/ourmission.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .cards:nth-child(2) {
    background-image: url("../../public/aboutus/vision.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .cards:nth-child(3) {
    background-image: url("../../public/aboutus/values.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .content-sub-container {
    width: 100%;
    height: 800px;
    padding: 2.5%;
    .content-wrap {
      width: 100%;
      height: 100%;
      display: flex;
      padding: 10px;
      align-items: center;
      gap: 50px;
      border-radius: 10px;
      .content-image-container {
        width: 30%;
        height: 80%;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 7px 29px 0 hsl(240deg 5% 41% / 20%);
        img {
          height: 100%;
          width: 100%;
          border-radius: 4px;
          overflow: hidden;
        }
      }

      .content-description {
        width: 70%;
        height: 80%;
        font-size: var(--fz-sm);
        color: rgb(65, 63, 63);
        letter-spacing: 0.8px;
        text-align: justify;
        line-height: 25px;
        box-shadow: 0 7px 29px 0 hsl(240deg 5% 41% / 20%);
        padding: 5%;
        border-radius: 10px;
      }
    }
  }
  .ourteam-wraper {
    width: 100%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    .ourteam-cards {
      width: calc(100vw / 3);
      height: 450px;
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;

      .ourteam-image {
        height: 70%;
        width: 100%;
        box-shadow: 0 7px 29px 0 hsl(240deg 5% 41% / 20%);
        border-radius: 10px;
      }
      .name-wraper {
        height: 30%;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          height: 100%;
          width: 100%;
          fill: var(--primary-color);
          z-index: 1;
        }
        .name-content {
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 9;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 10px;
        }
        .name {
          font-size: var(--fz-xl);
          color: white;
        }
        .position {
          font-size: var(--fz-sm);
          color: white;
        }
      }
    }
  }
  @media (max-width: 720px) {
    .heading {
      font-size: var(--fz-xl);
    }
    .content-sub-tag {
      text-align: left;
    }
    .cards-wraper {
      flex-direction: column;
      .cards {
        width: 100%;
      }
    }
    .content-sub-container {
      height: unset;
      .content-wrap {
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 10px;
        .content-image-container {
          width: 100%;
        }
        .content-description {
          width: 100%;
        }
      }
    }
    .ourteam-wraper {
      flex-direction: column;
      .ourteam-cards {
        width: 100%;
      }
    }
  }
}
